# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
sem6/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Data
data/

# Trained models
*.pth
*.pt

# YOLO weights
yolov8n.pt